@media only screen and (max-width:768px) {




    header nav {
        justify-content: space-between;
        padding: 0px 31px;
    }




    header nav ul li {
        display: none;
    }

    .head-icons {
        display: none;
    }

    nav .head2-icon {
        display: block;
    }

    .sec1 {
        flex-direction: column-reverse;
        padding-bottom: 50px;
        height: auto;

    }

    .sec1-right-cntnt {
        display: none;
        width: 95%;

    }

    .sec1-left-cntnt {
        width: 100%;

        overflow: hidden;

    }

    .sec1-btn {
        display: flex;
        gap: 10px;
    }

    .sec1-left-cntnt .sec1-btn button {
        padding: 8px;
    }
   
   .sec2-hrading{
    font-weight: 700;
   }



     .sec3-heading{
        font-weight: 700;
        font-size: 25px;
     }
    .sec2{
        padding: 0 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .sec3-child {
        grid-template-columns: max-content;

    }
    .sec3-child-right{
        display: none;
    }
.sec4{
    padding: 0;
}
    .sec4-child {
        padding: 45px;
    }


.sec5{
    margin-top: 15px;
}

    .sec5-child {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    #sec5box1 {
        grid-column: 1/3;
        margin-bottom: 20px;
    }
     .sec5-box{
        height: 130px;
     }
     .sec6{
        padding: 20px;
     }
    .sec6-img {
        gap: 0;
    }

    .testo-container {
        display: block;

    }

    .testo-item {
        margin: 20px 0;
    }

    .sec7-box {
        width: 95%;
        padding: 40px;
    }


    .sec7 h2{
        font-size: 28px;
    }
    .sec8 .testo-header h1{
        font-size: 30px;
        font-weight: 700;
    }

 
 .sec9-right{
    display: none;
 }  

.sec10-child{
    flex-wrap: wrap;
}


}

@media only screen and (min-width:768px) {

    .head-icons {
        display: none;
    }

    .sec1 {
        flex-direction: column-reverse;
        padding: 50px 50px;
        padding-top: 150px;
    }

    .sec1-left-cntnt {
        width: 90%;
    }

    .sec1-right-cntnt {
        width: 95%;
    }

    .sec3-child-right {
        display: none;
    }

    .sec2 {
        padding: 0px 20px;
    }

    .sec2-box1 {
        flex-wrap: nowrap;
    }
 

   .sec4{
    padding-top: 0;
   }
   .sec4-child{
    padding: 50px;
   }


    #sec5box1 {
        grid-column: 1 / 3;
    }

    .sec5-child {
      
        grid-template-columns: 1fr 1fr;
        
    }
    .sec7-box {
        width: 35%;

}
.testo-container{
    flex-wrap: wrap;
    padding: 0 100px;
}
.sec6{
    padding: 60px;
}

.sec9-right {
    display: none;
}
}

@media only screen and (min-width:992px) {

    .head-icons {
        display: block;
    }

    .sec1 {
        height: auto;
    }

    .sec1-left-cntnt {
        width: 100%;
    }

    .sec1-right-cntnt {
        width: 100%;
    }

    .sec3-child-right {
        display: none;
    }


    .sec4-child{
        padding: 90px;
       }

    .sec5-child {

        grid-template-columns: 1fr 1fr 1fr ;
      
    }
    #sec5box1 {
        grid-column: 1 / 4;
    }

    .testo-container {
        flex-wrap: nowrap;
        flex-direction: column;
        max-width: 900px;
    }

    .sec10-child{
        gap: 20px;
    }
    
}




@media only screen and (min-width:1200px) {


    .sec1 {
        flex-direction: row;
        height: 800px;
    }

    .sec1-left-cntnt {
        width: 50%;
    }

    .sec1-right-cntnt {
        width: 50%;
    }



    .sec3-child-right {
        display: none;
    }
    .sec8 h1{
        font-size: 3.2rem;
    }

    .sec5 h4{
        font-size: 20px;

    }
    #sec5box1 {
        grid-column: 1 / 5;
    }
    .sec5-child {

        grid-template-columns: 1fr 1fr 1fr ;
    
}
.sec7-box {
    width: 22%;
}

.testo-container {
    flex-direction: row;
    max-width: 1700px;
}
.sec6{
    padding: 100px;
}
.sec9-right {
    display: block;
}

.sec10-child{
    gap: 60px;
}
}


@media only screen and (min-width:1400px) {






    .sec1-left-cntnt {
        width: 40%;
    }

    .sec1-right-cntnt {
        width: 40%;
    }

    .sec2-box1 {
        width: 790px;
    }

    .sec3-child-right {
        display: ;
    }
.sec3{
    
}
    .sec2-box1 {
        width: 630px;
    }
    .sec10-child{
        gap: 100px;
    }
}

@media only screen and (min-width:1600px) {
    .sec2-box1 {
        width: 730px;
    }
    .sec3-child-right {
        display: block;
    }

}